# **Varible**

### Basic variable

In [ ]:
nama = 'Sasuke'
umur = '25'

In [ ]:
nama

In [ ]:
type(nama)

In [ ]:
umur

In [ ]:
umur = 25

In [ ]:
type(umur)

In [ ]:
jomblo = True

In [ ]:
type(jomblo)

### Case 1

Buat sebuah variable `nama` dan `NRP` teman-teman lalu panggil di dalam jupyter-notebook!

### Case 2

Konversi program untuk memanggil variable `name` dan `NRP` yang sudah dibuat dalam jupyter-notebook ke file python atau `*.py` dengan nama file `variable.py`!

### Arithmetic Operation

In [ ]:
a = 10
b = 5

a + b

In [ ]:
c = a + b

In [ ]:
c

c = c + 1

In [ ]:
c += 1

In [ ]:
c

In [ ]:
c -= 5

In [ ]:
c

In [ ]:
e = 40
f = 20

print(e * f)
print(e / f)
print(e + f)
print(e - f)
print(e % f)
print(e ** 2)

### Case 3

Konversi perhitungan pytagoras berikut menjadi sebuah program yang berjalan di jupyter-notebook!

![title](https://akupintar.id/documents/portlet_file_entry/20143/2+%284%29.png/d8907cd9-a23e-b777-4594-f3355af498cb?imagePreview=1)

### Case 4

Konversi perhitungan pytagoras yang sebelumnya berjalan di jupyter-notebook menjadi sebuah file python atau `*.py` dengan nama file `pythagoras.py`!

### Tuple

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print("Print all tuple1: ", tup1)
print("Print all tuple2: ", tup2)
print("Print tuple1 element-0: ", tup1[0])
print("Print tuple1 element-1 until 5: ", tup2[1:5])
print("Join two tuple: ", tup1 + tup2)

In [ ]:
tup1[1]

### List

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print("Print all list: ", list1)
print("Print list element-0: ", list1[0])
print("Print list element-1: ", list1[1])
print("Print list element-1 until 3: ", list1[1:3])
print("Print list element-1 until 4: ",list1[1:4])
print("Print list element-2 until end: ",list1[2:])
print("Print list twice: ",tinylist * 2)
print("Join two list: ", list1 + tinylist, "\n")

### Case 5

Uncomment cell dibawah ini lalu kemudian eksekusi dan amati perbedaanya!

List:

In [ ]:
list1[1] = 'math'

In [ ]:
list1[1]

In [ ]:
list1

Tupple:

In [ ]:
tup1[1] = 'math'

In [ ]:
tup1[1]

In [ ]:
tup1

Simpulkan dan jawab pada sel dibawah ya! dan jangan lupa cell dibawah diganti ke format MD atau Markdown.

### String

In [ ]:
g = 'Sasuke pergi ke pasar'

print(len(g))
print(g.split(' '))
print(g.lower())
print(g.upper())

### Case 6

Buat sebuah variable yang berisi string perkenalan nama dan umur, misal:

"Halo.. Nama saya sasuke, saya berusia 17 tahun!"

Print variable tersebut dan split menjadi sebuah list kemudian print juga yang versi List!

### Convert String to Number

In [ ]:
h = '25'
i = int(h)

print(type(h))
print(i)
print(type(i))

### Case 7

Convert umur dalam List yang sebelumnya dibuat dan tersimpan dalam **Case 6** menjadi sebuah integer!

### Case 8

Convert **Case 6** dan **Case 7** menjadi sebuah program python dengan nama `list_string.py`!

### Math Module

In [ ]:
import math

print(round(6.4))
print(round(6.8))
print(math.floor(6.8))
print(math.ceil(6.8))

### Case 9

Terapkan Math module pada **Case 3** dan convert menjadi sebuah program python dengan extension `*.py` dengan nama `math_module`!

### Dictionary

+ jumlahnya 1: `{'key': value}`
+ jumlahnya lebih dari 1: `{'key1': value1, 'key2': value2, 'key3': {'key3.1': value31, 'key3.2': value32}}`

In [ ]:
dict1 = {}
dict1['one'] = "This is one"
dict1[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': {'pos': 'sales', 'pos': 'engineering'}}

print("Print dictionary on dict1['one']: ", dict1['one'])
print("Print dictionary on dict1[2]: ",dict1[2])
print("Print dictionary on dict1: ", dict1)
print("Print dictionary on tinydict: ", tinydict)
print("Print tinydict dictionary keys: ", tinydict.keys())
print("Print tinydict dictionary values: ", tinydict.values(), "\n")

### Case 10

Buat sebuah data diri teman-teman ke sebuah dictionary, Contoh:

```
{
    'nama': 'sasuke uciha',
    'nim': 2221100025,
    'alamat': 'jl. Madara no. 10, Konohagakure, Hi no Kuni',
    'usia': 17
}
```

Lalu convert dictionary tersebut ke dalam sebuah file `*.json` dan juga buat versi file python nya!